<p class="mb-5">
  Found <%= pluralize(@products.count, 'Product') %> when searching for: <%= params[:keywords] %>
</p>

<ul>
  <% @products.each do |product| %>
    <li><%= product.name %></li>
  <% end %>
</ul>

